* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(179, 179, 179);
}

h1 {
    background-color: #E5D3B3;
    color: #946656;
    height: 5rem;
    line-height: 5rem;
}

.option {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option:hover {
    background-color:antiquewhite;
    cursor: pointer;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.counts {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-count, #AI-count {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: antiquewhite;
    color: black;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}